@import "./src/scss/foundation/include";
@import "../src/scss/components/transition";
.c-colorCard {
  position: relative;
  background: map_get($color, white);
  border: 1px solid map_get($color, gray03);
  border-radius: 10px;
  max-width: 278px;
  width: 100%;
  margin: 136px auto 0;
//  @include fadeIn;
  @include boxShadow();
  @include mq(regular) {
    max-width: 440px;
  }

  .eye_image {
    position: absolute;
    top: 13px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .color {
    background: #87CEEB;
    border-radius: 10px 10px 0 0;
    display: block;
    margin: 3%;
    height: 32vh;
  }
}
