@import "./src/scss/foundation/variables";
@import "./src/scss/foundation/mixins";
.c-colorCard {
  position: relative;
  background: map_get($color, white);
  border: 1px solid map_get($color, gray03);
  border-radius: 10px;
  max-width: 278px;
  width: 100%;
  margin: auto;
  @include boxShadow();
  .eye_image {
    position: absolute;
    top: 13px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: index($z-map, eyeImage);
  }
}
