@import "./src/scss/foundation/include";
.nav-btn {
  border: transparent;
  background: transparent;
  padding: 0;
  width: 32px;
  position: fixed;
  top: 40px;
  left: 20px;
  color: map_get($color, text);
  z-index: 4;
}

.nav-items {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  z-index: 3;
  background: white;
  transform: translateX(-50vw);
  transition:  all 0.2s linear;
  @include KintoSans();
  &.is-active {
    transform: translateX(0vw);
    width: 50vw;
  }
}

.nav-item {
  li {
    @include KintoSans();
    width: 100%;
    box-sizing: border-box;
    padding: 8px 24px;
    &.is-disabled {
      color: map_get($color, gray01);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .prepare_text {
      font-size: 0.9rem;
      display: block;
    }
  }
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav-title {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  padding: 8px 24px;
  @include KintoSans();
  background: map_get($color, gray04);
  @include KintoSans();
  margin: 0;
  background: white;
  img {
    width: 32px;
    margin-right: 4px;
  }
}

.nav-subTitle {
  padding: 8px 24px;
  margin: 0;
  font-size: 1rem;
  background: map_get($color, gray04);
  @include KintoSans();
  font-weight: normal;
}
