@import "./src/scss/foundation/include";

.nav-btn{
  position:fixed;
  z-index: 9999;/*ボタンを最前面に*/
  top:40px;
  left: 8px;
  cursor: pointer;
  width: 50px;
  height:50px;
  &-close {
    display: none;
  }
  span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 16px;
    height: 3px;
    border-radius: 2px;
    background-color: map_get($color, text);
    width: 45%;
    &:nth-of-type(1) {
      top:15px;
    }
    &:nth-of-type(2) {
      top:23px;
    }
    &:nth-of-type(3) {
      top:31px;
    }
  }
  p {
    position: absolute;
    top: 40px;
    left: 8px;
    font-family: "MiuraGotic", serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0px;
  }
  &.is-active {
    span {
      &:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3){
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
      }
    }
    .nav-btn-menu {
      display: none;
    }
    .nav-btn-close {
      display: block;
    }
  }
}
.nav-items {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  transform: translateX(-50vw);
  transition:  all 0.2s linear;
  padding-top:110px;
  @include KintoSans();
  height: 100vh;
  width: 50vw;
  @include mq(regular) {
    width: 30vw;
  }
  &.is-active {
    transform: translateX(0vw);
  }
}
.nav-item {
  margin: 0 8px;
  @include mq(xsmall) {
    margin: 0;
  }
  li {
    @include KintoSans();
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: map_get($color, text);
    text-decoration: none;
  }
  span {
    display: flex;
    align-items: center;
    text-decoration: underline;
    color: map_get($color, link);
  }
}
.nav-title {
  display: flex;
  align-items: center;
  @include KintoSans();
  font-size: 0.9rem;
  font-weight: bold;
  padding: 8px 16px;
  margin: 8px 0;
  background: rgba(0, 0, 0, 0.05);
  @include mq(xsmall) {
    padding: 8px;
  }
  img {
    width: 20px;
    margin-right: 4px;
  }
}
.nav-subTitle {
  padding: 0 16px;
  margin: 0;
  @include mq(xsmall) {
    padding: 0 8px 0 8px;
  }
  span {
    font-size: 0.8rem;
    @include KintoSans();
    color: map_get($color, text);
    font-weight: bold;
  }
}
.nav-learn {
  margin-top: 16px;
}
