.v-enter-active,
.v-leave-active {
  transition: opacity 200ms ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}

@keyframes fadeInUp01 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp02 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown01 {
  0% {
    opacity: 0;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}

@keyframes fadeInUpDown {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}


@keyframes animate_chara01 {
  0% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(4px);
  }
}

@keyframes animate_chara02 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes animate_chara03 {
  0% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(3px);
  }
}
