input[type='checkbox'] {
  appearance: none;
  outline: none;
  display: block;
  position: relative;
  text-align: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

// チェックボックスのデザイン
input[type='checkbox']::before {
  display: block;
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  background: #fff;
  border: solid 1px map_get($color, gray03);
  border-radius: 3px;
}

// チェックボックスの背景をチェック後に変更
input[type='checkbox']:checked::before {
  background: map_get($color, link);
}

// チェックマークのデザイン
input[type='checkbox']::after {
  display: block;
  content: '';
  position: absolute;
  left: 9px;
  top: 4px;
  width: 5px;
  height: 12px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
  // チェックしてないときは隠す
  opacity: 0;
}

// チェックするとチェックマークの透明化を解除
input[type='checkbox']:checked::after {
  opacity: 1;
}
