@import './foundation/include';
@import './foundation/reset';
@import './foundation/base';
@import 'components/checkbox';
@import 'utility/animation';
@import 'utility/margin';
@import 'utility/text';

.is-pc {
  display: block;
  @include mq(sp) {
    display: none;
  }
}

.is-sp {
  display: none;
  @include mq(sp) {
    display: block;
  }
}

