@import './foundation/include';
@import './foundation/reset';
@import './foundation/base';
@import 'components/checkbox';
@import 'utility/animation';
@import 'utility/margin';
@import 'utility/text';

.is-pc {
  display: block;
  @include mq(sp) {
    display: none;
  }
}

.is-sp {
  display: none;
  @include mq(sp) {
    display: block;
  }
}


body,
.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.inner {
  padding: 0 16px;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.flex {
  display: flex;
}
.section {
  padding: 100px 0;
  @include mq(sp) {
    padding: 50px 0;
  }
  &--under {
    .c-heading02 {
      padding: 100px 0;
      @include mq(sp) {
        padding: 20px 0;
      }
    }
  }
}


